[Desktop Entry]
Name=DOSBox Pure Unleashed
GenericName=DOS Emulator
Comment=An enhanced x86/DOS emulator with sound/graphics
Exec=DOSBoxPure_x86_64
Icon=logo
Terminal=false
Type=Application
Categories=Game;Emulator
StartupWMClass=
