[Desktop Entry]
Name=DOSBox Pure Unleashed
Comment=DOSBox reimagined with a friendly interface ZIP loading and save states
Exec=DOSBoxPure_x86_64
Icon=logo
Terminal=false
Type=Application
Categories=Game;Emulator
StartupWMClass=
